# To determine whether there is any difference in the diameters of the cutlets made by two units

In [1]:
import pandas as pd
import scipy
from scipy import stats as st
import numpy as np

In [5]:
cutlets = pd.read_csv("cutlets.csv")

In [6]:
cutlets

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

### The input variable X - the diameter of the cutlets in 2 units, is discrete in two categories. Y - the difference being continuous

### Descriptive Stats

In [7]:
import statsmodels.stats.descriptivestats as sd
sd.describe(cutlets)

                     Unit A     Unit B
nobs              35.000000  35.000000
missing            0.000000   0.000000
mean               7.019091   6.964297
std_err            0.008240   0.009811
upper_ci           7.035242   6.983527
lower_ci           7.002941   6.945067
std                0.288408   0.343401
iqr                0.449050   0.441400
iqr_normal         0.332881   0.327210
mad                0.244459   0.277786
mad_normal         0.306384   0.348153
coef_var           0.041089   0.049309
range              1.079300   1.507900
max                7.516900   7.545900
min                6.437600   6.038000
skew              -0.118319  -0.363464
kurtosis           2.038407   3.005994
jarque_bera        1.430126   0.770671
jarque_bera_pval   0.489161   0.680222
mode               6.437600   6.038000
mode_freq          0.028571   0.028571
median             6.943800   6.939900

### Test of Normality

##### Let H0 = the data in Unit A is normally distributed. So is H0 for Unit B also.

In [8]:
print(st.shapiro(cutlets['Unit A']))
print(st.shapiro(cutlets['Unit B']))

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)
ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

##### Since both Unit A and Unit B's p value is greater than 0.05, we can say that both are normally distributed.

### Variance Test

##### Let H0 be that both the variances are equal.

In [9]:
print(scipy.stats.levene(cutlets['Unit A'], cutlets['Unit B']))

LeveneResult(statistic=0.665089763863238, pvalue=0.4176162212502553)

##### Since the p-value is greater we can say that both the variances are equal.

### 2 Sample T-Test

In [10]:
print(scipy.stats.ttest_ind(cutlets['Unit A'], cutlets['Unit B'], nan_policy='omit'))

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

##### Since the p-value from the t-test is highter than alpha=0.05, we can conclude that there is no significant difference in the diameter of the cutlets made by the two units.