# To determine whether there is any difference in the average TAT among the 4 different laboratories

In [1]:
import pandas as pd
import scipy
from scipy import stats as st

In [4]:
LabTAT = pd.read_csv("LabTAT.csv")

In [5]:
LabTAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

#### X is the TAT of individual labarotories. X is discrete in more than 2 categories. Y the difference between them is continuous.

## Descriptive Stats

In [6]:
import statsmodels.stats.descriptivestats as sd
sd.describe(LabTAT)

                  Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
nobs                120.000000    120.000000    120.000000    120.000000
missing               0.000000      0.000000      0.000000      0.000000
mean                178.361583    178.902917    199.913250    163.682750
std_err               0.109780      0.124643      0.137825      0.125709
upper_ci            178.576748    179.147212    200.183383    163.929135
lower_ci            178.146419    178.658622    199.643117    163.436365
std                  13.173594     14.957114     16.539033     15.085080
iqr                  16.200000     21.087500     23.100000     18.832500
iqr_normal           12.009078     15.632187     17.124056     13.960553
mad                  10.107531     12.173250     13.325637     11.544825
mad_normal           12.667911     15.256906     16.701210     14.469292
coef_var              0.073859      0.083605      0.082731      0.092160
range                78.090000     77.310000     79.010000     81.120000
max                 216.390000    217.860000    238.700000    205.180000
min                 138.300000    140.550000    159.690000    124.060000
skew                 -0.174870      0.040149      0.131908     -0.102725
kurtosis              3.671671      2.804990      2.570846      3.310651
jarque_bera           2.867295      0.222383      1.268862      0.693567
jarque_bera_pval      0.238438      0.894768      0.530237      0.706958
mode                168.620000    168.200000    159.690000    154.060000
mode_freq             0.016667      0.016667      0.008333      0.016667
median              178.530000    178.870000    199.805000    164.425000

## Normality Tests

##### Let H0 = the data from each Lab is distributed normally for each of the lab separately.

In [8]:
print(st.shapiro(LabTAT['Laboratory 1']))
print(st.shapiro(LabTAT['Laboratory 2']))ds+-
print(st.shapiro(LabTAT['Laboratory 3']))
print(st.shapiro(LabTAT['Laboratory 4']))

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)
ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)
ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)
ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

#### Since the p-value is greater than alpha=0.05 for all the 4 laboratories, the data is normally distributed for all

## Variance Tests

#### Let H0 = variance of laboratory 1 equals variance of laboratory 2

In [10]:
print(scipy.stats.levene(LabTAT['Laboratory 1'], LabTAT['Laboratory 2']))

LeveneResult(statistic=3.5495027780905763, pvalue=0.06078228171776711)

#### Since p-value is greater, we accept the null hypothesis that both variances are equal

#### Let H0 = variance of laboratory 2 equals variance of laboratory 3

In [11]:
print(scipy.stats.levene(LabTAT['Laboratory 2'], LabTAT['Laboratory 3']))

LeveneResult(statistic=0.9441465124387124, pvalue=0.33220021420602397)

#### Since p-value is greater, we accept the null hypothesis that both variances are equal

#### Now, Let H0 = variance of laboratory 3 equals variance of laboratory 4

In [12]:
print(scipy.stats.levene(LabTAT['Laboratory 3'], LabTAT['Laboratory 4']))

LeveneResult(statistic=2.037958464521512, pvalue=0.15472618294425391)

#### Since p-value is greater, we accept the null hypothesis that both variance are equal

#### Again, let H0 = variance of laboratory 4 equals variance of laboratory 1

In [13]:
print(scipy.stats.levene(LabTAT['Laboratory 4'], LabTAT['Laboratory 1']))

LeveneResult(statistic=1.5000140718506723, pvalue=0.22188001348277267)

#### Since p-value is greater, we accept the null hypothesis that both variances are equal

#### We see from above that all 4 variances are equal

## Applying One-Way ANOVA Test

#### Let H0 = there is no difference in the TAT between the 4 laboratories

In [15]:
print(st.f_oneway(LabTAT['Laboratory 1'], LabTAT['Laboratory 2'], LabTAT['Laboratory 3'], LabTAT['Laboratory 4']))

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

#### Since the p-value is greater than alpha=0.05, we accept the null hypothesis that there is no difference in the TAT between the 4 laboratories